@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply h-full;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  :root {
    --color-black: 255 255 255; 
    --color-white: 0 0 0;
    --color-body: 249 250 251;
    --color-title: 0 0 0;
    --color-gray-200: 229 231 235; 

  }
  
  :root[class="light"] {
    --color-black: 255 255 255; /* white */ 
    --color-white: 0 0 0; /* black */ 
    --color-body: 249 250 251; /* gray-50 */ 
    --color-title: 0 0 0; /* black */ 
    --color-gray-200: 229 231 235; /* gray-800 */ 
  }

  :root[class="dark"] {
    --color-black: 0 0 0;
    --color-white: 255 255 255;
    --color-body:  33 35 40;
    --color-title: 255 255 255;
    --color-gray-200: 229 231 235;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-black: 0 0 0;
      --color-white: 255 255 255;
      --color-body:  33 35 40;
      --color-title: 255 255 255;
      --color-gray-200: 229 231 235;
    }
  }



  /* html {
    scroll-behavior: smooth;
    
  } */

  html {
    @apply h-full scroll-smooth;
    font-size: calc(100vw / 390 * 16);
  }

  @media screen and (min-width: 641px) {
    html {
      font-size: calc(1440px / 1440 * 16);
    }
  }

  @media screen and (min-width: 1440px) {
    html {
      font-size: calc(100vw / 1440 * 16);
    }
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
